@model WoodStore.Domain.ViewModel.Orders.OrderViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@{
    var textTitle = Model?.Id == 0 ? "Изменение данных" : "Добавление данных";
}

    <div style="padding: 10px;"></div>
    <div class="col-md-12">
        <div class="card-body">
            <div class="card card-outline-secondary" style="background-color: white">
                <div class="card-header">
                    <h3 class="mb-0 text-center ParagraphHome">@textTitle</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="Order" asp-action="Save" enctype="multipart/form-data">
                        <input asp-for="Id" hidden />
                        <div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>

                        <div class="form-group">
                            <label asp-for="@Model.ClientsComment"></label>
                            <input asp-for="@Model.ClientsComment" class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.OrderDate"></label>
                            <input asp-for="@Model.OrderDate" class="form-control" type="text">
                        </div>
                        <div class="form-group">

                            <label asp-for="@Model.SalesManagerID"></label>
                            <textarea asp-for="@Model.SalesManagerID" class="form-control"></textarea>
                        </div>

                        <div class="form-group">

                            <label asp-for="@Model.СourierID"></label>
                            <textarea asp-for="@Model.СourierID" class="form-control"></textarea>
                        </div>
                        <div class="form-group">

                            <label asp-for="@Model.PickerID"></label>
                            <textarea asp-for="@Model.PickerID" class="form-control"></textarea>
                        </div>
                        <div class="form-group">

                            <label asp-for="@Model.ClientID"></label>
                            <textarea asp-for="@Model.ClientID" class="form-control"></textarea>
                        </div>

                        <div class="input-group mb-3">

                            <span class="input-group-text">₽</span>
                            <input asp-for="@Model.OrderPrice" type="text" class="form-control">
                            <span class="input-group-text">.00</span>
                        </div>

                        <button class="btn btn-primary btn-lg float-right" type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style>
        label {
            color: black;
        }
    </style>